/* Footer LESS */
footer {
	background: @brandPrimary;
}


#footerMain {
	background: #777;
	color: #fff;
}
#footerCopyright {
	background: #555;
    color: #fff;
    border-top: 1px solid #999;
}






//footer text
#footerMain h2 {
	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
	color: #fff;
	font-size: 24px;
}

#footerCopyright p {
	padding:10px 0 10px 0;
}

#footer i {
	font-size: 40px;
	float: right;
	padding:5px 0 5px 10px;
}