/* Default LESS */

html, body {
	height: 100%;
}

body {
	background-color:@defaultThemeColor;
	}

#wrapper {
	height: auto !important;
	min-height: 100%;
}

.jumbotron {
	height: 904px;
	background: url(/images/sunset.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0 !important;
}

#callout {
	background: #000;
	color: #999;
}

#callout i {
	font-size:10em;
}


// text

h1, h2, h3, h4, p, .clientName {
	font-family: 'Titillium Web', Arial, Helvetica;
}

h1 {

}

h2 {
	color:#777;
}

.jumbotron h1{
	line-height: 75px;
	top:200px; //not working
}

.jumbotron h1 span {
	color:#fff;
	background-color: @brandPrimary;
    font-size: 48px;
    font-style: normal;
    padding: 0 5px;
    text-transform: uppercase;
}

.jumbotron p span {
	color:#fff;
	background-color: #555;
	line-height: 40px;
	padding: 0 5px;
}

#callout h2 {
	color: #777;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

#portfolio {
	font-size:1.4em;
	padding:1em 0;
	color:#fff;
}

#portfolio .row {
	margin-bottom: 40px;
}

#portfolio p {
	clear:both;
	color:#777;
}



// text-align
.left {
	text-align: left;
}

.right {
	text-align: right;
}

.middle {
	text-align: center;
}


/* images */
img.center {
	display: block;
	margin: 0 auto;
}

// client circles
.client {
	float:left;
	clear: both;
	height:@clientSize;
	width:@clientSize;
	background-size: @clientSize !important;
	margin-bottom: 10px;
	opacity: 0.75;
}


.client a {
	/*opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    display: none;
    position: relative;
    top: calc((@clientSize / 2) - (@clientLinkIcon / 2));
    left: calc((@clientSize / 2) - (@clientLinkIcon / 2));
}

.client:hover a {
	display: block;
}

.client i {
	font-size: @clientLinkIcon;
	color: @brandPrimary;
}

//clients
.rmfowler {
	background: url(/images/clients/rmfowler.jpg);
}

.chaindrive {
	background: url(/images/clients/chaindrive.jpg);
}

.redsky {
	background: url(/images/clients/redsky.jpg);
}

.munrofawcett {
	background: url(/images/clients/munrofawcett.jpg);
}

.wisecash {
	background: url(/images/clients/wisecash.jpg);
}

.cash4unow {
	background: url(/images/clients/cash4unow.jpg);
}


