/* Default LESS */

html, body {
	height: 100%;
	background:center no-repeat fixed url('/images/sunset.png');
	background-size: cover;
}

body {
	//padding-top: 50px;
	//position: relative;
}

#wrapper {
	height: auto !important;
	min-height: 100%;
}

section {
	//padding-top:70px;  
    //padding-bottom:50px;
    height: 100vh;
}

.vert-middle {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    height: 50%;
    margin: auto;
    overflow: visible;
    position: absolute;
}

#main {
	background-color: rgba(0,0,0,0.7);
	color:#fff;
}

#clients {
	background-color: #fff;

	h1 {
		padding: 30px 0;
		color: @brandColor;
	}
}



// text

h1, h2, h3, h4, p {
	
}

h1 {
	font-family: 'Kreon', Arial, Helvetica;
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 68px;
}

h2 {
	font-family: 'Lato', Arial, Helvetica;
	color:#fff;
	text-align: center;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}


// text-align
.right {
	text-align: right;
}

.middle {
	text-align: center;
}


/* images */
img.middle {
	display: block;
	margin: 0 auto;
}



