/* Navigation LESS */

.navbar {
	border-bottom: 2px solid @brandSecondary;
	}

.navbar-inverse {
	background-color: @navColor;
	}
	
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: @brandPrimary;
	}