/* Variables LESS */

@defaultThemeColor: #2F3238;
@defaultTextColor: #333;
@navColor: #fff;

@brandPrimary: #F39200;
@brandSecondary: #F9B233;
@headColorDark: #333;
@headColorLight: #ccc;

@clientSize: 300px;
@clientLinkIcon: 100px; //used for calculations
